
.square{
    width: 200px;
    height: 200px;
    background: red;
    border-width: 10px;
    border-style: dashed;
    border-color: orange;
}

.circle{
    width: 200px;
    height: 200px;
    background: #ffd000;
    border-radius: 100px;
}

.line{
    width: 0px;
    height: 600px;
    border-left: solid red 1px;
    transform: rotate(45deg);
}
.suprise{
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent;
    border-right: 150px solid red;
}